/* Poppins Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* NAVBAR  */

.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 20px;
    color: black;
}


/* CAROUSEL */


.carousel-item img {
    height: 554px;
    background-size: cover;
}

.carousel-item a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:415px) {
    .navbar-brand {
        /* display: inline-block; */
        width: 60%;
        font-size: .8rem;
        line-height: 21px;
    }
}




/* MOMMENTS  */
.moments h2, #packages h2 {
    font-size: 2.3rem;
    line-height: 3.7rem;
}
.moments a{
    text-decoration: none;
    color: white;
}

/* Toast */
.toast-header {
    border-left: 5px solid #3F87F5;
    ;
}



/* Our packages  */
#packages li::before {
    content: "\f058";
    font-family: FontAwesome;
    color: #5243c2be;
}

#packages ul {
    padding-left: 0;
}

#packages li {
    list-style: none;
}

#packages h2 {
    margin-bottom: 150px;
}

#packages h3 {
    font-size: 2.25rem;
    line-height: 2.87rem;
}

#packages h4 {
    font-size: 1.75rem;
    line-height: 2rem;
}

.special-package {
    height: 520px;
    padding:50px 30px;
    background-color: #3F87F5;
    color: white;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    margin-top: 20px;
    bottom: 120px;
}

@media screen and (max-width:768px){
    .special-package {
        bottom: 30px;
    }
}



/* Footer  */
footer {
    background-color: #0B0D17;
}

@media screen and (max-width:415px) {
    .flexible {
        flex-direction: column-reverse;
        align-items: center;
    }
    .copyright {
        margin-bottom: 30px;
    }
}